.border {
  border: 1px solid red
}

.show {
  opacity: 1;
  animation: show-item 2s ease-in forwards
}

.hide {
  opacity: 0;
  animation: hide-item 2s ease-in forwards  /* 保留动画结束时的样式 */
}

@keyframes hide-item {
  0% {
    opacity: 1;
    color: red;
  }

  50% {
    opacity: 0.5;
    color: green;
  }

  100% {
    opacity: 0;
    color: blue;
  }
}

@keyframes show-item {
  0% {
    opacity: 0;
    color: blue;
  }

  50% {
    opacity: 0.5;
    color: green;
  }

  100% {
    opacity: 1;
    color: red
  }
}